
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.logo1{
    margin-left: 2%;
    margin-bottom: -3%;
}
.abu{
    margin-left: 6%;
    color: rgb(103, 174, 177);
}
nav{
    height: auto;
    margin-top: -5%;
}
nav ul{
    text-align: center;
}
nav li{
    display: inline-block;
    margin: 0 8px;
     line-height: 90px; 
}
.btn{
    margin-left: 80%;
    margin-top: -4%;
    border-radius: 30%;
}
.image1{
    margin-left: 25%;
    margin-top: -24%;
    background-image: url('splash.png'); 
 }
 .fa-brands .fa-instagram{
    border: 30px solid;
    border-radius: 200%;
    margin-top: 2%;

}
.media{
    margin-left: 3%;
    margin-top: 4%;
}
.fa-brands .fa-twitter{
    border: 30px solid;
    border-radius: 200%;

}
 .agent h1{
    font-size: xx-large;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-top: 5%;
}
.agent p{
    margin-left: 10%;
    margin-bottom: -6%;
    margin-top: -5%;
    font-size: large;

}
.butt{
   
    margin-left: 10%;
    margin-top: -5%;
    margin-bottom: 9%;
    
    /* color: rgb(54, 104, 54); */
 }
 .butt button{
     background-color:cadetblue;
 }
 .Slack{
     float: right;
     margin-right: 100%;
     margin-top: 15%;
 /* }
 .prudential{
   /* margin-bottom: -25%; */
   margin-bottom: -40%;
   margin-left: -20%;
 } 
 .microsoft{
     margin-bottom: -5%;
     margin-top: -65%;
     display: flex;
     margin-left: 80%;
 }
 .zoover{
     margin-left: 180%;
     margin-bottom: 20%;
     margin-top: -70%;
 }
 .exp{
     display: flex;
 }
 .exp h1{
    margin-left: 250%;
    padding-bottom: 2%;
}
.exp p1{
    padding-left: 5%;
    margin-left: 250%; 
    margin-bottom: -2%;
}
.exp h2{
    padding: 10%;
    margin-left: 450%;
}
.exp p2{
    padding-right: 60%;
    margin-left: 450%;
}
.exp h3{
    padding: 10%;
    margin-left: 750%;
}
.exp p3{
    margin-left: 750%;
    padding-right: 60%;
}
.align{
    display:inline-flex;
    margin-left: 60px;
    margin-top: 2%;
}
.desi{
    background-color: ghostwhite;
    margin-left: 10%;
}
.dev{
    background-color:rgb(67,161,146);
    margin-left: 0%;
}
.mark{
    background-color: rgb(234,246,254);
}
 .log0{ 
   margin-left:2%;
   margin-bottom: -1%;
   margin-top: -6%;
}
.SERVICES{
    margin-top: 10%;
    /* color: dodgerblue; */
}
.s{
    color: dodgerblue; 
}
.services{
  margin-left: 21%;
}
.image2{
    float: left;
    margin-left:-10%;
    background-image:url('splash.png') ;
}
.how h1{
    margin-left: 59%;
    margin-top: 5%;
    /* float: right; */
}
.work{
    margin-left: 30%;
}
.wor{
    margin-left: 60%;
    margin-bottom: -3%;
    color: dodgerblue;
   
}
.worky{
  margin-left: 78%;
  margin-bottom: -7%;
  margin-right: -1%;
}
.numbs{
    display: flex;
}
.num1{
   display: flex;
   margin-left: 20%;
   margin-top: 2%;
}
.num2{
    display: flex;
    margin-top: 9%;
    margin-left: -45%;

}
.num3{
    display: flex;
    margin-top:18%;
    margin-left:-50%;
}
.subscriber{
    display: flex;
    /* background-color: aquamarine; */
    padding: auto;
    height: 10px;
    justify-content: center;
    font-size: x-large;
    margin-left:0% ;
    border-radius: 70%;
}
.sub{
    margin-top:23%;
}
.sign{
    margin-left: 28%;
}
.sign p{
    margin-top: 1%;
    margin-left: 10%;
}
.w{
    color: dodgerblue;
    margin-bottom: 2%;
}
.l{
    margin-left: 6%;
    margin-top: 5%;
    margin-bottom: -5%;
}
.have{
    margin-top: 10%;
    margin-left: 10%;
}
.bt{
    margin-top: 7%;
    /* background-color: aqua; */
    margin-left: 7%;
    height: 20px;
    width: 20px;
    border: radius 20%;
    /* color: green ; */
}
.bt button{
    background-color: cadetblue;
    border-radius: 30%;
    border: -10%;
}
.message{
    margin-top: 2%;
    margin-left: 4%;
}
.name1{
    margin-left: 8%;
    margin-top: 2%;
    border-radius: 20%;
    border-color: rgb(228, 153, 193);
}
.id{
    margin-top: 2%;
    margin-left: 10%;
}
.id h1{
    color: rgb(77, 77, 114);
}
.msg{
    margin-top: 2%;
    margin-left: 10%;
    color: rgb(77, 77, 114);
}
.image3{
    float: left;
    margin-bottom: 90%;
    margin-top: -30%;
    margin-left: 40%;
    background-image: url('splash.png');
}
